%html
  %head
    %title Pimento Banner Generator
  %body
    %h1 Pimento Banner Generator
    %form{:id => 'generater', :action => '/generate', :method => 'POST' }
      %p
        text:
        %input{:type => 'text', :name => 'text', :value => 'foo bar baz', :size => 20}
        %input{:type => 'submit', :value => 'generate .xib'}
