body {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
    position: relative;
    left: -23px;
    width: 2564px;
    height: 336px;
    background: url(../images/title.png);
    text-indent: -9999px
}

form {
    padding-left: 35px;
}